<footer class="page-footer blue lighten-3">
  <div class="footer-copyright">
    <div class="container left" id="copyright">
       © <%= Time.now.year.to_s %> Aldo Cid Siqueira</div>
  </div>
</footer>
