<h1 class="center">Posts</h1>

<br>

<% if user_signed_in? %>
<div class="fixed-action-btn" style="bottom: 60px; right: 24px;">
  <%= link_to new_post_path, class: "btn-floating btn-large amber darken-2" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>
<% end %>
